* {
    font-family: 'Fira Sans', sans-serif;
    margin: 0%;

}

header {
    text-align: center;
    background-color: #C72525;
    padding-top: 25px;
}

.titulo {
    
    color: white;
}

ul{
    
    list-style: none;
    display: flex;
    justify-content: center ; 
    flex-wrap: wrap;
    margin-top: 1%;

    
}

li {
    color: white;
    padding: 10px 10% 10px 10%; 
    
    text-align: center;
    
    
    
}

li:hover{
    background-color: orange;
    transition: all 1s linear;
}

/*Trucos*/


section{
    width: 100%;
    display: inline-block;

}

/*aside
aside{
    width: 20%;
    display: inline-block;
    float: right;
}*/

/*Menu <ul>*/
.indice{
    list-style: none;
    display: inline;
    justify-content: left;
    text-align: left 

}

/*Menu <li>*/
.li2{
    display: block;
}

.li2{
    text-align: justify;
    margin-left: -8%
}

/*CSS de div de Section*/
.containerTrucos {
    margin: 2%;
    text-align: left;
}

/*CSS de imagenes*/
.imgTru{
    margin-top: 2%;
    display: block; 
   
}

/*CSS de imagenes*/
.imgTru{
    margin-left: auto;
    margin-right: auto;
    
}

/*CCS del parafo*/
.par{
    margin-top: 1%;
    text-align: justify
}



/*
div.container{
width: 96%;
max-width: 755px;
margin: 0 auto;
}
*/


/*Fin trucos*/
footer {
    text-align: center;
    background-color: #C72525;
    padding-top: 25px ;
    padding-bottom: 25px ;
    color: white;

}







